[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = ">=2.13.0"
jsonref = ">=0.2"
ansible-core = "*"
collection-prep = {git = "https://github.com/ansible-network/collection_prep"}
pyang = "*"

[dev-packages]

[requires]
python_version = "3.8"
