
- name: "Create the resource module directory structure"
  file:
    path: "{{ parent_directory }}/{{ item }}"
    state: directory
  with_items: "{{ resource_module_directories }}"

- name: Touch the __init__.py in each directory
  file:
    path: "{{ parent_directory }}/{{ item }}/__init__.py"
    state: touch
  with_items: "{{ resource_module_directories }}"

- name: Template each of the files
  include: template.yml
  with_items: "{{ resource_module_templates }}"
  loop_control:
    loop_var: template
