#!/usr/bin/python
# -*- coding: utf-8 -*-
# {{ rm['metadata']['copyright_str'] }}
# GNU General Public License v3.0+ (see COPYING or https://www.gnu.org/licenses/gpl-3.0.txt)

from {{ import_path }}.network.argspec.base import ArgspecBase

class FactsArgs(ArgspecBase):

    argument_spec = {
        'gather_subset': dict(default=['all'], type='list')
    }
